<div id="registered">
  <div class="row">
     <!-- title -->
     <div class="col-12 title">
      <div class="wrap">
        <span class="icon">
          <i class="fa fa-bookmark"></i>
        </span>
        <span class="text">
          Đăng kí khám
        </span>
      </div>
    </div>
    <!-- end title -->
    <div class="note col-12">
      <div class="text-note">
        Vui lòng điền vào mẫu bên dưới:
      </div>
    </div>
    <!-- wrap-from -->
    <div class="wrap-form col-12">
      <form>
        <!-- field name -->
        <div class="form-group row">
          <label for="name" class="col-12 col-sm-2 col-form-label text-right">Họ tên</label>
          <div class="col-12 col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="Họ tên">
            <div class="invalid-feedback">
                Looks good!
            </div>
          </div>
        </div>
        <!-- end field name -->
        <!-- field email -->
        <div class="form-group row">
          <label for="email" class="col-12 col-sm-2 col-form-label text-right">Email</label>
          <div class="col-12 col-sm-10">
            <input type="email" class="form-control" id="email" placeholder="Email">
          </div>
        </div>
        <!-- end field email-->
        <!-- field phone-->
        <div class="form-group row">
          <label for="phone" class="col-12 col-sm-2 col-form-label text-right">Di động</label>
          <div class="col-12 col-sm-10">
            <input type="text" class="form-control" id="phone" placeholder="Di động">
          </div>
        </div>
        <!-- end field phone -->
        <!-- field adress-->
        <div class="form-group row">
          <label for="adress" class="col-12 col-sm-2 col-form-label text-right">Địa chỉ</label>
          <div class="col-12 col-sm-10">
            <input type="text" class="form-control" id="adress" placeholder="Địa chỉ">
          </div>
        </div>
        <!-- end field adress -->
        <!-- field date-->
        <div class="form-group row">
          <label for="date" class="col-12 col-sm-2 col-form-label text-right">Ngày khám</label>
          <div class="col-12 col-sm-10">
            <input type="date" class="form-control" id="date" placeholder="Ngày khám">
          </div>
        </div>
        <!-- end field date -->
        <!-- field time-->
        <div class="form-group row">
          <label for="time" class="col-12 col-sm-2 col-form-label text-right">Thời gian khám</label>
          <div class="col-12 col-sm-10">
            <input type="time" class="form-control" id="time" placeholder="Thời gian khám">
          </div>
        </div>
        <!-- end field time -->
        <!-- field doctor-->
        <div class="form-group row">
          <label for="doctor" class="col-12 col-sm-2 col-form-label text-right">Bác sĩ khám</label>
          <div class="col-12 col-sm-10">
            <select name="" id="doctor" class="form-control">
              <option value="">Không yêu cầu</option>
              <option value="">Nguyễn Văn A</option>
              <option value="">Nguyễn Văn A</option>
            </select>
          </div>
        </div>
        <!-- end field doctor -->
        <!-- field content-->
        <div class="form-group row">
          <label for="content" class="col-12 col-sm-2 col-form-label text-right">Nội dung liên hệ</label>
          <div class="col-12 col-sm-10">
            <textarea type="are" class="form-control" id="content" rows="4"></textarea>
          </div>
        </div>
        <!-- end field content -->
        <!-- buton submit -->
        <div class="form-group row">
            <label for="" class="col-12 col-sm-2 col-form-label"></label>
            <div class="col-12 col-sm-10">
                <button type="submit" class="btn btn-primary mb-2">Gửi liên hệ</button>
            </div>
        </div>
        <!-- end buton submit -->
      </form>
    </div>
    <!-- end wrap-from -->
  </div>
</div>