#show-all .title{
    font-family: "Roboto Condensed Regular", "Open Sans", "Roboto Condensed Regular", "Open Sans", Arial, Helvetica, sans-serif;

    font-size: 30px;
}
#show-all a{
    text-decoration: none;
    color: #fff;
}
.pointer{
    cursor: pointer;
}