<section id="profile-doctor">
  <div class="container">
    <div class="row">
      <div class="col-3 left">
        <aside>
          <!-- list option -->
          <ul class="list-group">
            <li class="list-group-item title">Thông tin bác sĩ</li>
            <li class="list-group-item item">
              <a routerLink="/profile-doctor/history" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Lịch khám trong tuần</a>
            </li>
            <li class="list-group-item item">
              <a routerLink="/profile-doctor/info-account" routerLinkActive="active">Thông tin tài khoản</a>
            </li>
            <li class="list-group-item item">
                <a routerLink="/profile-doctor/change-password" routerLinkActive="active">Đổi mật khẩu</a>
            </li>
            <li class="list-group-item item">
              <a>Thoát</a>
            </li>
          </ul>
          <!-- end list option -->
        </aside>
      </div>
      <div class="col-9 right">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>