#profile-doctor{
    margin: 15px 0 50px;
}
#profile-doctor .left ul > li.item{
    padding: 0;
    border: none;
}
#profile-doctor .left ul > li.item > a{
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    padding: 12px 20px;
    text-decoration: none;
    color: #444444;
    transition: all .2s;
    display: inline-block;
    width: 100%;
}
#profile-doctor .left ul > li.title{
    background: #1a99aa;
    color: #f1f1f1;
    font-weight: bold;
}
#profile-doctor .left ul > li.item a:hover{
    background: #f5f5f5;
}
#profile-doctor .left ul > li > a.active{
    border-left-width: 3px;
    border-left-color: rgb(240, 135, 15); 
    background: #fff;
    border-right-color: rgba(0,0,0,.125);
    border-bottom-color: rgba(0,0,0,.125);
    border-top-color: rgba(0,0,0,.125);
}