<div id="main-sidebar">
  <div class="wrap-img">
    <figure class="item">
      <img src="assets/img/sidebar1.jpg" alt="" width="100%">
    </figure>
    <figure class="item">
      <img src="assets/img/sidebar2.jpg" alt="" width="100%">
    </figure>
    <figure class="item">
      <img src="assets/img/sidebar3.gif" alt="" width="100%">
    </figure>
    <figure class="item">
      <img src="assets/img/sidebar4.jpg" alt="" width="100%">
    </figure>
    <figure class="item">
      <img src="assets/img/sidebar5.jpg" alt="" width="100%">
    </figure>
    <figure class="item">
      <img src="assets/img/sidebar6.png" alt="" width="100%">
    </figure>
    <figure class="item">
      <img src="assets/img/sidebar7.png" alt="" width="100%">
    </figure>
    <figure class="item">
      <img src="assets/img/sidebar8.jpg" alt="" width="100%">
    </figure>
    <figure class="item">
      <img src="assets/img/sidebar9.jpg" alt="" width="100%">
    </figure>
  </div>
</div>