<div id="contact">
  <div class="row">
    <!-- title -->
    <div class="col-12 title">
      <div class="wrap">
        <span class="icon">
          <i class="fa fa-bookmark"></i>
        </span>
        <span class="text">
          Liên hệ
        </span>
      </div>
    </div>
    <!-- end title -->
    <!-- map -->
    <div class="col-12">
      <div #gmap style="width:100%;height:350px"></div>
    </div>
    <!-- end map -->
    <!-- content -->
    <div class="content col-12">
      <div class="wrap-title-text">
        <span class="title-text">
          Trụ sở chính
        </span>
      </div>
      <!-- wrap-info -->
      <div class="wrap-info">
        <div class="name-hopital">
          NHA KHOA NHÂN TÂM - Cấy ghép Implant & nha khoa thẩm mỹ
        </div>
        <!-- address -->
        <div class="address item">
          <span class="icon"><i class="fa fa-home"></i></span>
          <span class="text">Địa chỉ: 807 đường 3/2, Phường 7, Quận 10, TP. Hồ Chí minh Việt Nam</span>
        </div>
        <!-- end address -->
        <!-- phone -->
        <div class="phone item">
          <span class="icon"><i class="fa fa-phone"></i></span>
          <span class="text">Điện thoại: 0127 2311 832</span>
        </div>
        <!-- end phone -->
        <!-- email -->
        <div class="email item">
          <span class="icon"><i class="fa fa-envelope-o"></i></span>
          <span class="text">Email: lethanhtuan@gmail.com</span>
        </div>
        <!-- end email -->
      </div>
      <!-- end wrap-info -->

      <!-- wrap info-customer -->
      <div class="info-customer">
        <div class="text-note">
          Vui lòng điền vào mẫu bên dưới: 
        </div>
        <form>
          <!-- field name -->
          <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label text-right">Họ tên</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="name" placeholder="Họ tên">
              <div class="invalid-feedback">
                  Looks good!
              </div>
            </div>
          </div>
          <!-- end field name -->
          <!-- field email -->
          <div class="form-group row">
            <label for="email" class="col-sm-3 col-form-label text-right">Email</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
          </div>
          <!-- end field email-->
          <!-- field phone-->
          <div class="form-group row">
            <label for="phone" class="col-sm-3 col-form-label text-right">Di động</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="phone" placeholder="Di động">
            </div>
          </div>
          <!-- end field phone -->
          <!-- field adress-->
          <div class="form-group row">
            <label for="adress" class="col-sm-3 col-form-label text-right">Địa chỉ</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="adress" placeholder="Địa chỉ">
            </div>
          </div>
          <!-- end field adress -->
          <!-- field title-->
          <div class="form-group row">
            <label for="title" class="col-sm-3 col-form-label text-right">Tiêu đề</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="title" placeholder="Tiêu đề">
            </div>
          </div>
          <!-- end field title -->
          <!-- field content-->
          <div class="form-group row">
            <label for="content" class="col-sm-3 col-form-label text-right">Nội dung liên hệ</label>
            <div class="col-sm-9">
              <textarea type="are" class="form-control" id="content" rows="4"></textarea>
            </div>
          </div>
          <!-- end field content -->
          <!-- buton submit -->
          <div class="form-group row">
              <label for="" class="col-sm-3 col-form-label"></label>
              <div class="col-sm-9">
                  <button type="submit" class="btn btn-primary mb-2">Gửi liên hệ</button>
              </div>
          </div>
          <!-- end buton submit -->
        </form>
      </div>
      <!-- end wrap info-customer -->
    </div>
    <!-- end content -->
  </div>
</div>